  ---
  const { title = "VRCafe ToDo App" } = Astro.props;
  import { VERSION } from "../config/version.js";
  ---

  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <link rel="stylesheet" href="/styles/base.css?v=${VERSION}">
    <link rel="stylesheet" href="/styles/header.css?v=${VERSION}">
    <link rel="stylesheet" href="/styles/footer.css?v=${VERSION}">
    <link rel="stylesheet" href="/styles/layout.css?v=${VERSION}">
    <link rel="stylesheet" href="/styles/tasks.css?v=${VERSION}">
    <link rel="stylesheet" href="/styles/theme.css?v=${VERSION}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  </head>

  <body class="neon">
    <slot />
  </body>
  </html>
